Checks: '
    readability*,
    modernize*,
    bugprone*,
    performance*,
    clang-analyzer-*,
    portability-*,
    -modernize-use-trailing-return-type,
    -modernize-avoid-c-arrays,
    -readability-uppercase-literal-suffix,
    -readability-magic-numbers,
    -readability-const-return-type'
CheckOptions:
    - { key: readability-identifier-naming.LocalVariableCase, value: lower_case }
